

{% extends "../layouts/aspel-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span style="font-size: 24px;color: #0b0c0c;margin-bottom: 5px;">Project licence application</span>

    <h1 class="govuk-heading-l" style="margin-bottom:30px;">Update harm benefit analysis</h1>
    <p>Confirm why the harm benefit analysis needs to be updated so ASRU can record it for auditing purposes.</p>
    <p style="margin-bottom: 0px;"><strong>Reason for updating the harm benefit analysis</strong></p>

    <p style="color: #696F73;">Visible only to ASRU personel</p>

    <textarea class="govuk-textarea" id="comment" name="comment" rows="4"></textarea>

    <form action="task-upload-updated" method="post">
      <div>
        <div class="govuk-button-group">
          <button class="govuk-button">Confirm</button>
        <p><a href="home" style="color: #005ea5;">Cancel</a></p>
      </div>
    </form>

  </div>
</div>


<style type="text/css">
.govuk-radios__item label {
  font-weight: bold;
}
.govuk-radios__item .govuk-hint {
  padding-left: 15px;
}
    .sticky-nav a{
      display: block;
      padding: 15px;
      text-decoration: none;
    }
   .active{
      color: #fff;
      background-color: #005ea5;
    }
    .badge {
      padding: 3px 6px;
      background: #999;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }
    .date {
      float: right;
    }
dl {
  width: 100%;
}
dt {
  font-weight: normal;
  clear: left;
  display: inline-block;
  width: 35%;
  padding-bottom:5px;
}
dd {
  padding-bottom:5px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  /*font-weight: 400;*/
  /*background-color: red;*/
}
  .highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0px 0px;
}
</style>

<script type="text/javascript">
  var search = document.querySelector('#search');
var results = document.querySelector('#searchresults');
var templateContent = document.querySelector('#resultstemplate').content;
search.addEventListener('keyup', function handler(event) {
    while (results.children.length) results.removeChild(results.firstChild);
    var inputVal = new RegExp(search.value.trim(), 'i');
    var set = Array.prototype.reduce.call(templateContent.cloneNode(true).children, function searchFilter(frag, item, i) {
        if (inputVal.test(item.textContent) && frag.children.length < 6) frag.appendChild(item);
        return frag;
    }, document.createDocumentFragment());
    results.appendChild(set);
});
</script>
{% endblock %}
