
{% extends "../layouts/aspel-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">University of Croydon</span>
    <h1 class="govuk-heading-l">Project application</h1>
    
    <p class="govuk-!-font-size-24"><a href="ppl-overview">Researching animals panic attacks</a></p>
      <div class="govuk-panel green-bg">
        <h1 class="govuk-panel__title govuk-!-font-size-36">Approved</h1>
        <div class="govuk-panel__body">
        </div>
      </div>
      
        <h2 class="govuk-heading-m">What happens next?</h2>
        <p>
          This request has been approved.
        </p>
        <p>
          The relevant people have been emailed.
        </p>
        <p>
          You can <a href="task-complete.html">view the history of this request</a>.
        </p>

        <p><a href="#">Home</a></p>
      </div>
    </div>
  </div>


{% endblock %}
