
{% extends "../layouts/aspel-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     


<div class="govuk-grid-row" id="pageHeader">
	<div class="govuk-grid-column-full">
	  <div class="download-header">
	    <span class="govuk-body licence-identifier" class="">Project</span>
	    <span class="float-right">
      
	    </span>
      <span class="govuk-body licence-type" class="">Research animals panic attacks</span>
      <div id="details-panel" class="details-panel">
        <span class="float-right download-options">
          <ul class="govuk-list">
            <li><a href="#">Non-technical summary (.pdf)</a></li>
            <li><a href="/ra-submission/downloads">All downloads</a></li>
          </ul>
        </span>
        <dl class="govuk-body" style="width: 75%;">
          <dt>PPL title</dt>
          <dd>Research animals panic attacks</dd>
          <dt>PPL number</dt>
          <dd>78847475</dd>
          <dt>Expiry date</dt>
          <dd>25 June 2023</dd>
          <dt>Retrospective assessment due</dt>
          <dd>25 June 2028</dd>
          <dt>Reason for retrospective assessment</dt>
          <dd>
            <ul class="govuk-list govuk-list--bullet">
              <li>Contains severe procedures</li>
              <li>Uses cats, dogs or equidae</li>
            </ul>
          </dd>
        </dl>
      </div>
	  </div>
	</div>
</div>




<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#overview">
        Overview
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#manage">
        Manage licence
      </a>
    </li>
    <li class="govuk-tabs__list-item" >
      <a class="govuk-tabs__tab" href="#reporting">
        Reporting
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#history">
        History
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#downloads">
        Downloads
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="overview">
    
   
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Licence details</h2>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <dl class="">
          <dt>Licence holder</dt>
          <dd><a href="#">Lucille Haynes</a></dd>
          <dt>Primary establishment</dt>
          <dd>University of Croydon</dd>
          <dt>Licence number</dt>
          <dd>PP8987375</dd>
          <dt>Date granted</dt>
          <dd>25 June 2022</dd>
          <dt>Expiry date</dt>
          <dd>25 June 2027</dd>
          <!-- <dt>Last amended</dt>
          <dd>06 January 2020</dd> -->
          
          <!-- <dt>Retrospective assessment due</dt>
          <dd>06 December 2023</dd> -->
          <!-- <dt>Retrospective assessment due</dt>
          <dd>02 November 2024</dd> -->
        </dl>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Licence</h2>

        <p><a href="granted-licence.html">View licence</a></p>
        <p><a href="granted-licence.html">Download licence (PDF)</a></p>
        <h2 class="govuk-heading-s">Other documents</h2>
        <p><a href="/nts-improvements/new/nts-overview">View non-technical summary</a></p>
 
      </div>
    </div>
    

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Current activity</h2>
        <p><em>Nothing in progress just now.</em></p>
       
      </div>
    </div>
  
  
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="manage">
    
   

    <h2 class="govuk-heading-m">Changes and transfers</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-s">Amend licence</h2>
        <p>Includes transfers to new establishments.</p>
        <a href="ppl-index" class="govuk-button govuk-button--secondary">Amend licence</a>
        <a href="review-pil-app-public-edit" class="secondary-link">or change licence holder</a>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-m">Cancel licence</h2>
        <p>Ask the Home Office to cancel this licence.</p>
        <a href="review-pil-app-public-edit" class="govuk-button govuk-button--warning">Cancel licence</a>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Guest access</h2>
    <p>Allow colleagues to view this project. Administrators will have access by default.</p>
    <a href="#">Grant access</a>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reporting">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Return of procedures</h2>
        <p>Complete this project’s return of procedures for 2021.</p>
        <p><strong>Deadline for submission: </strong> 31 January 2022</p>
        <a href='setup-start' class="govuk-button">Fill in return</a>
    </div>
  
  
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Previous version of this licence</h2>
    <p>View previous versions of the licence and their full applications.</p>
    <ul class="govuk-list">
      <li><a href="#">View the licence granted on 10 February 2020.</a></li>
      <br>
      <br>
    </ul>
    <h2 class="govuk-heading-m">History</h2>
    <p>View all past activity on this project including links to old licence versions.</p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Last updated</th>
          <th class="govuk-table__header" scope="col">Primary establishment </th>
          <th class="govuk-table__header" scope="col">Type</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">Deadline (closest)</th>
          <th class="govuk-table__header" scope="col">Assigned to</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">25 June 2022  </td>
          <td class="govuk-table__cell">University of Croydon</td>
          <td class="govuk-table__cell">
            <a href="task-complete">PPL Application</a><br>
            Lucille Haynes
          </td>
          <td class="govuk-table__cell"><span class="badge badge-blue">Approved</span></td>
          <td class="govuk-table__cell">No deadline</td>
          <td class="govuk-table__cell"><a href="#">Inspector Morse</a></td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>

  
  </div>


  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="downloads">
    
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Licence</h2>

      <h3 class="govuk-heading-s">Licence granted 25 June 2022</h3>
      <p>
        <strong>Licence</strong>
        <br>
        <a href="#">Download licence (PDF)</a>
      </p>

      <p>
        <strong>Licence application</strong>
        <br>
        <a href="#">Download application (DOCX)</a><br>
        <a href="#">Download application (PDF)</a>
      </p>

      <p>
        <strong>Protocol steps</strong>
        <br>
        <span class="secondary-text">Download a table of protocol steps, adverse effects, controls and limitations, and humane endpoints.</span>
        <br>
        <a href="#">Download protocol steps (PDF)</a>
      </p>

      <p>
        <strong>Non-technical summary</strong>
        <br>
        <a href="#">Non-technical summary (PDF)</a><br>
      </p>

      <p>
        <strong>Template</strong>
        <br>
        <span class="secondary-text">Download a copy of the data that can be uploaded to use as a template for similar projects.</span>
        <br>
        <a href="#">Download template (PPL)</a><br>
      </p>

      <p>
        <strong>Harm benefit assessment</strong>
        <br>
        <span class="secondary-text">Download a copy of the harm benefit assessment for this licence.</span><br>
        <a href="/public/downloads/PPLNewAssess_UoC_Haynes_YYMMDD_IM.docx" download>Download harm benefit analysis (.DOCX)</a><br>
      </p>
    </div>
  
  
  </div>
</div>

<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#overview">
        Overview
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#manage">
        Manage licence
      </a>
    </li>
    <li class="govuk-tabs__list-item" >
      <a class="govuk-tabs__tab" href="#reporting">
        Reporting
      </a>
    </li>
    <li class="govuk-tabs__list-item" >
      <a class="govuk-tabs__tab" href="#history">
        Reporting
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#tasks">
        History
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#downloads">
        Downloads
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="overview" style="border:none;">
   
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Licence details</h2>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <dl class="">
          <dt>Licence holder</dt>
          <dd><a href="#">Lucille Haynes</a></dd>
          <dt>Primary establishment</dt>
          <dd>University of Croydon</dd>
          <dt>Licence number</dt>
          <dd>PP8987375</dd>
          <dt>Date granted</dt>
          <dd>25 June 2022</dd>
          <dt>Expiry date</dt>
          <dd>25 June 2027</dd>
          <!-- <dt>Last amended</dt>
          <dd>06 January 2020</dd> -->
          
          <!-- <dt>Retrospective assessment due</dt>
          <dd>06 December 2023</dd> -->
          <!-- <dt>Retrospective assessment due</dt>
          <dd>02 November 2024</dd> -->
        </dl>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Licence</h2>

        <p><a href="granted-licence.html">View licence</a></p>
        <p><a href="granted-licence.html">Download licence (PDF)</a></p>
        <h2 class="govuk-heading-s">Other documents</h2>
        <p><a href="/nts-improvements/new/nts-overview">View non-technical summary</a></p>
        <!-- <p><a href="/public/downloads/PPLNewAssess_UoC_Haynes_YYMMDD_IM.docx" download>Download harm benefit analysis (.DOCX)</a></p> -->

        <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Upcoming deadlines</h2>
        <h3 class="govuk-heading-s">
          Retrospective assessment
        </h3>

        <p>
          Deadline: 20 December 2021
        </p>

        <a href="#" class="govuk-button govuk-button--secondary">Start retrospective assessment</a> -->
      </div>
    </div>
      <!-- <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s">Project summary content</h3>
        <span class="govuk-hint">Links open in a new tab</span>
        <ul class="govuk-list">
          <li><a href="/nts-improvements/new/nts-overview">Non-technical summary</a></li>
          <li><a href="#">Steps and adverse effects</a></li>
          <li><a href="#">Protocol summary table</a></li>
        </ul>
      </div>
    -->
     <!-- <div class="govuk-grid-row">
      <div class="govuk-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Retrospective assessment</h2>
        <p>Submit learnings from this project so they can be published.</p>
        <h3 class="govuk-heading-s">Assessment due: 2 January 2021</h3>

        <a href="ra-ppl-legacy/ra-index-start" class="govuk-button govuk-button--secondary">Start assessment</a>
      </div>
    </div>  -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Current activity</h2>
        <p><em>Nothing in progress just now.</em></p>
        <!-- <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Last changed</th>
              <th class="govuk-table__header" scope="col">Establishment </th>
              <th class="govuk-table__header" scope="col">Licence </th>
              <th class="govuk-table__header" scope="col">Type</th>
              <th class="govuk-table__header" scope="col">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">27 September 2021</td>
              <td class="govuk-table__cell">University of Croydon</td>
              <td class="govuk-table__cell">
                <a href="task-complete">PPL Amendment</a><br>
                Lucille Haynes
              </td>
              <td class="govuk-table__cell"><span class="badge">Awaiting decision</span></td>
              <td class="govuk-table__cell">No deadline</td>
              <td class="govuk-table__cell"><a href="#">Inspector Morse</a></td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
  
  </section>      
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="manage" style="border:none;">
   

    <h2 class="govuk-heading-m">Changes and transfers</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-s">Amend licence</h2>
        <p>Includes transfers to new establishments.</p>
        <a href="ppl-index" class="govuk-button govuk-button--secondary">Amend licence</a>
        <a href="review-pil-app-public-edit" class="secondary-link">or change licence holder</a>

        <!-- <h2 class="govuk-heading-s">Change PPL holder</h2>
        <a href="review-pil-app-public-edit" class="govuk-button govuk-button--secondary">Change PPL holder</a> -->

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-m">Cancel licence</h2>
        <p>Ask the Home Office to cancel this licence.</p>
        <a href="review-pil-app-public-edit" class="govuk-button govuk-button--warning">Cancel licence</a>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Guest access</h2>
    <p>Allow colleagues to view this project. Administrators will have access by default.</p>
    <a href="#">Grant access</a>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reporting" style="border:none;">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Return of procedures</h2>
        <p>Complete this project’s return of procedures for 2021.</p>
        <p><strong>Deadline for submission: </strong> 31 January 2022</p>
        <a href='setup-start' class="govuk-button">Fill in return</a>

      
    </div>
  
  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history" style="border:none;">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Return of procedures</h2>
        <p>Complete this project’s return of procedures for 2021.</p>
        <p><strong>Deadline for submission: </strong> 31 January 2022</p>
        <a href='setup-start' class="govuk-button">Fill in return</a>

      
    </div>
  
  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tasks" style="border:none;">
    
    <h2 class="govuk-heading-m">Previous version of this licence</h2>
    <p>View previous versions of the licence and their full applications.</p>
    <ul class="govuk-list">
      <li><a href="#">View the licence granted on 10 February 2020.</a></li>
      <br>
      <br>
    </ul>
    <h2 class="govuk-heading-m">History</h2>
    <p>View all past activity on this project including links to old licence versions.</p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Last updated</th>
          <th class="govuk-table__header" scope="col">Primary establishment </th>
          <th class="govuk-table__header" scope="col">Type</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">Deadline (closest)</th>
          <th class="govuk-table__header" scope="col">Assigned to</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">25 June 2022  </td>
          <td class="govuk-table__cell">University of Croydon</td>
          <td class="govuk-table__cell">
            <a href="task-complete">PPL Application</a><br>
            Lucille Haynes
          </td>
          <td class="govuk-table__cell"><span class="badge badge-blue">Approved</span></td>
          <td class="govuk-table__cell">No deadline</td>
          <td class="govuk-table__cell"><a href="#">Inspector Morse</a></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="downloads" style="border:none;">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Licence</h2>

        <h3 class="govuk-heading-s">Licence granted 25 June 2022</h3>
        <p>
          <strong>Licence</strong>
          <br>
          <a href="#">Download licence (PDF)</a>
        </p>

        <p>
          <strong>Licence application</strong>
          <br>
          <a href="#">Download application (DOCX)</a><br>
          <a href="#">Download application (PDF)</a>
        </p>

        <p>
          <strong>Protocol steps</strong>
          <br>
          <span class="secondary-text">Download a table of protocol steps, adverse effects, controls and limitations, and humane endpoints.</span>
          <br>
          <a href="#">Download protocol steps (PDF)</a>
        </p>

        <p>
          <strong>Non-technical summary</strong>
          <br>
          <a href="#">Non-technical summary (PDF)</a><br>
        </p>

        <p>
          <strong>Template</strong>
          <br>
          <span class="secondary-text">Download a copy of the data that can be uploaded to use as a template for similar projects.</span>
          <br>
          <a href="#">Download template (PPL)</a><br>
        </p>

        <p>
          <strong>Harm benefit assessment</strong>
          <br>
          <span class="secondary-text">Download a copy of the harm benefit assessment for this licence.</span><br>
          <a href="/public/downloads/PPLNewAssess_UoC_Haynes_YYMMDD_IM.docx" download>Download harm benefit analysis (.DOCX)</a><br>
        </p>
      </div>
    </div>
  
  </section>
</div>

      

  </div>


  <style type="text/css">
    dt {
      width: 30%;
      margin-inline-start: 0px;
    }
    dd {
      width: 60%;
      padding-bottom: 10px;

    }
    .govuk-tabs__list-item {
      padding: 0px !important;
    }
    .govuk-tabs ul li a  {
      display: block;
      height: 2.25em;
      line-height: 2.25em;
      margin-bottom: -2px;
      padding: 0 30px; 
    }

    
  </style>

{% endblock %}
