

{% extends "../layouts/aspel-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% set toasterContent = 'Harm benefit analysis updated' %}
{% include "includes/toaster.html" %}

<div class="govuk-grid-row" style="padding-top: 0px;">
  <div class="govuk-grid-column-two-thirds">

    <!--
    <span class="govuk-caption-xl">PPL application</span>
    -->
    <h1 class="govuk-heading-xl" style="margin-bottom:30px;">Project licence application</h1>
    <!--
    <h3 class="govuk-heading-s">How to cure heartache</h3>
    -->

  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <nav class="sticky-nav" style="position: static; top: 0px;">
      <style type="text/css">.active:after { content: "";}</style>
      <a href="#0" class="active" style="color: #fff;">Details</a>
      <a href="#0" class="" style="color: #005ea5;">Status</a>
      <a href="#0" class="" style="color: #005ea5;">Latest activity</a>
      <a href="#0" class="" style="color: #005ea5;">Latest submission</a>
      <a href="#0" class="" style="color: #005ea5;">Task assignment</a>
    </nav>&nbsp;
  </div>

  <div class="govuk-grid-column-two-thirds">
    <div id="details">

      <div>
        <p class="govuk-heading-m">Details</p>
        <dl>
          <dt><strong>Project title</strong></dt>
          <dd><a href="ppl-overview-updated.html" style="color: #005ea5;">Researching animals panic attacks</a></dd>
          <dt><strong>Applicant</strong></dt>
          <dd><a href="#0" style="color: #005ea5;">Lucille Haynes</a></dd>
          <dt><strong>Licence number</strong></dt>
          <dd>PP8987375</dd>
          <dt><strong>Establishment</strong></dt>
          <dd><a href="#0" style="color: #005ea5;">University of Croydon</a></dd>
        </dl>
       
      </div>

      <hr class="govuk-section-break govuk-section-break--xl" style="border-top: 2px solid #6f777b; margin-top: 40px; margin-bottom: 40px;">

      <div>
        <p class="govuk-heading-m">Status</p>
        <p><span class="badge blue">Approved</span></p>
      </div>

      <hr class="govuk-section-break govuk-section-break--xl" style="border-top: 2px solid #6f777b; margin-top: 40px; margin-bottom: 40px;">

      <div>
        <p class="govuk-heading-m">Latest activity</p>
        <p>
          <span><strong>Harm benefit analysis updated by:</strong> <a href="#0" style="color: #005ea5;">Inspector Morse</a></span>
          <span class="float-right">28 June 2022</span>
        </p>
        <p><a href="#">Download harm benefit analysis (DOCX)</a> <span class="secondary-text">(Visible to ASRU only)</span></p>
        <p class="govuk-body" style="margin-bottom: 10px;">Inspector Morse remarked:</p>
        <div class="govuk-inset-text" style="margin-top: 0px;">
          Fixing a typo
        </div>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Show previous activity
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              <span><strong>Granted by:</strong> <a href="#0" style="color: #005ea5;">Inspector Morse</a></span>
              <span class="float-right">25 June 2022</span>
            </p>
            <p><a href="#">View granted licence</a></p>
            <p><a href="#">View non-technical summary</a></p>
            <p><a href="#">Download harm benefit analysis (DOCX) (3 June 2022)</a> <span class="secondary-text">(Visible to ASRU only)</span></p>
            <p class="govuk-body" style="margin-bottom: 10px;">Inspector Morse remarked:</p>
            <div class="govuk-inset-text" style="margin-top: 0px;">
              This licence can now be granted
            </div>

            <hr class="govuk-section-break govuk-section-break--xl" style="border-top: 1px solid #bfc1c3; margin-top: 40px; margin-bottom: 40px;">

            <p>
              <span><strong>Endorsed on behalf of the PEL holder:</strong> <a href="#0" style="color: #005ea5;">Bruce Banner</a></span>
              <span class="float-right">3 June 2022</span>
            </p>
            <dl class="no-margin-bottom">
              <dt><strong>PEL holder endorsement</strong></dt>
              <dd>Yes</dd>
              <dt><strong>AWERB review date</strong></dt>
              <dd>29 May 2022</dd>
            </dl>
            <p  class="no-margin-bottom">Declaration:</p>
            <div class="govuk-inset-text">
              <p>By endorsing this application, I agree that:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Lucille Haynes's training record is accurate and up to date.</li>
                <li>The non-technical summary uses everyday language and contains no information that could identify people, places or intellectual property.</li>
              </ul>
            </div>
            <p><a href="#">View this version (3 June 2022)</a></p>

            <hr class="govuk-section-break govuk-section-break--xl" style="border-top: 1px solid #bfc1c3; margin-top: 40px; margin-bottom: 40px;">

            <p>
              <span><strong>Submitted by:</strong> <a href="#0" style="color: #005ea5;">Lucille Haynes</a></span>
              <span class="float-right">3 June 2022</span>
            </p>
            <p class="govuk-body" style="margin-bottom: 10px;">Lucille Haynes remarked:</p>
            <div class="govuk-inset-text" style="margin-top: 0px;">
              I've made the final changes and this is now ready to be submitted to ASRU
            </div>
          </div>
        </details>
      </div>

      <hr class="govuk-section-break govuk-section-break--xl" style="border-top: 2px solid #6f777b; margin-top: 40px; margin-bottom: 40px;">

      <div>
        <p class="govuk-heading-m">Latest submission</p>
        <!-- <p>
          <span><strong>PEL holder endorsement:</strong></span>
          <span style="padding-right: 240px;"></span>
          <span>Yes</span>
        </p>
        <p>
          <span><strong>Inspector confirmed ready:</strong></span>
          <span style="padding-right: 222px;"></span>
          <span>Yes</span>
        </p>
        <p>
          <span><strong>AWERB review date:</strong></span>
          <span style="padding-right: 282px;"></span>
          <span>22062019</span>
        </p> -->
        <p><span>This is the application that has been submitted for approval.</span></p>
        <span><a href="#0" class="govuk-button govuk-button--secondary">View latest submission</a></span>
      </div>

      <hr class="govuk-section-break govuk-section-break--xl" style="border-top: 2px solid #6f777b; margin-top: 60px; margin-bottom: 40px;">
      <p class="govuk-heading-m">Harm benefit analysis</p>
      <p>This is the harm benefit analysis that has been uploaded for this licence application.</p>
      <div class="govuk-button-group">
        <button class="govuk-button govuk-button--secondary" href="#">Download harm benefit analysis (DOCX)</button>
      </div>
      <p><a href="upload-update.html">Add an updated harm benefit analysis file</a></p>
      <!-- <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            See previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>The most recent version of this harm benefit analysis was uploaded on 28 June 2022.</p>
          <p>View previously uploaded harm benefit analysis files:</p>
          <p><a href="#">Download harm benefit analysis uploaded on 26 June 2022 (.DOCX)</a></p>
          <p>Reason for update:</p>
          <div class="govuk-inset-text" style="margin-top: 0px;">
            Fixing a typo
          </div>
          <hr class="govuk-section-break govuk-section-break--m" style="border-top: 2px solid #6f777b; margin-top: 60px; margin-bottom: 40px;">
            <p><a href="#">Download harm benefit analysis uploaded on 25 June 2022 (.DOCX)</a></p>
            <p>Reason for update:</p>
            <div class="govuk-inset-text" style="margin-top: 0px;">
              Uploaded the wrong file by accident
            </div>
        </div>
      </details> -->
      <hr class="govuk-section-break govuk-section-break--xl" style="border-top: 2px solid #6f777b; margin-top: 20px; margin-bottom: 40px;">

      <div>
        <p class="govuk-heading-m">Task assigment</p>
        <p>Assigned to: Inspector Morse</p>
        <p><span>Assign to:</span></p>
        <select class="govuk-select" id="assignedTo" name="assignedTo" style="width:700px;"><option value="">Select...</option><option>Unassigned</option><option value="48d23f3f-bdfb-4699-88f9-2820807d5275">Richard Aikens</option><option value="153b3d33-f46f-47e1-9574-13c4858eb9b6">Rupert Allen</option><option value="08593e7b-bd12-41b2-832d-42b8b5b9beac">Martin Whiting</option></select>
      </div>
      <br>
      <p><a href="#0" style="color: #005ea5;">Assign</a></p>
      

      <!-- <div>
        <p class="govuk-heading-m">Upload project licence (PPL) assessment</p>
        <p>
          <span style="padding-right: 10px;"><strong>PPL assessment: </strong></span> 
          <span class="badge rejected" style="background: #6F777B;padding: 3px 6px;color: white;text-transform: uppercase;font-weight: bold;white-space: nowrap;">NO FILE ATTACHED</span>
        </p>
        
        <div class="govuk-warning-text" style="padding-top: 10px;margin-bottom: 10px;">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            You must to upload the PPL assessment to grant a licence. 
          </strong>
        </div>
       
        <div class="govuk-form-group" style="padding-bottom: 10px;">
          <label class="govuk-label" for="file-upload-1">
            <strong>Upload a file</strong>
          </label>
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>
      </div> -->

    </div>
  </div>

</div>

<style type="text/css">
.govuk-radios__item label {
  font-weight: bold;
}
.govuk-radios__item .govuk-hint {
  padding-left: 15px;
}
    .sticky-nav a{
      display: block;
      padding: 15px;
      text-decoration: none;
    }
   .active{
      color: #fff;
      background-color: #005ea5;
    }
    .badge {
      padding: 3px 6px;
      background: #999;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }
    .date {
      float: right;
    }
dl {
  width: 100%;
}
dt {
  font-weight: normal;
  clear: left;
  display: inline-block;
  width: 35%;
  padding-bottom:5px;
}
dd {
  padding-bottom:15px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  /*font-weight: 400;*/
  /*background-color: red;*/
}
  .highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0px 0px;
}
</style>

<script type="text/javascript">
  var search = document.querySelector('#search');
var results = document.querySelector('#searchresults');
var templateContent = document.querySelector('#resultstemplate').content;
search.addEventListener('keyup', function handler(event) {
    while (results.children.length) results.removeChild(results.firstChild);
    var inputVal = new RegExp(search.value.trim(), 'i');
    var set = Array.prototype.reduce.call(templateContent.cloneNode(true).children, function searchFilter(frag, item, i) {
        if (inputVal.test(item.textContent) && frag.children.length < 6) frag.appendChild(item);
        return frag;
    }, document.createDocumentFragment());
    results.appendChild(set);
});
</script>
{% endblock %}
