{% extends "../../layouts/aspel-layout.html" %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">University of Croydon</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Create a course</a>
    </li>
  </ol>
</div>
{% endblock %}



{% block content %}

<!-- Add your page content here -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <span class="govuk-caption-xl">XXX</span> -->
    <h1 class="govuk-heading-xl">
      University of Croydon
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">     
    <div class="establishment-container">
      <p>
        <a href="#">Establishment details</a><br>
        Contact information for this establishment, as well as any conditions and authorisations.
      </p>
    </div>
    <div class="establishment-container">
      <p>
        <a href="#">Approved areas</a><br>
        Approved areas in this establishment where animals may be used.
      </p>
    </div>
    <div class="establishment-container">
      <p>
        <a href="#">People</a><br>
        Invite new starters to join this establishment and view all licence holders and named people.
      </p>
    </div>
    <div class="establishment-container">
      <p>
        <a href="pils-list">Personal licences</a><br>
        Apply for category E licences for course participants and view all other personal licences held at this establishment.
      </p>
    </div>
    <div class="establishment-container">
      <p>
        <a href="#">Projects</a><br>
        Projects with primary availability at this establishment.
      </p>
    </div>

  </div>
  <div class="govuk-grid-column-one-third ">
    <div class="establishment-metadata">
    
      <h3 class="govuk-heading-s">Establishment licence number
        <br><span class="govuk-body">XCC09J64D</span>
      </h3>
      <h3 class="govuk-heading-s">Establishment licence holder
        <br><span class="govuk-body"><a href="#">Bruce Banner</a></span>
      </h3>
      <h3 class="govuk-heading-s">Home Office Liaison Contact (HOLC)
        <br><span class="govuk-body"><a href="#">Susan Smith</a></span>
      </h3>
      <h3 class="govuk-heading-s">Inspectors
        <br><span class="govuk-body"><a href="#">Inspector Morse</a></span>
        <!-- <br><span class="govuk-body"><a href="#">Edit</a></span> -->
      </h3>
      <h3 class="govuk-heading-s">Single Point of Contact (SPoC)
        <br><span class="govuk-body"><a href="#">Julie Stevens</a></span>
        <!-- <br><span class="govuk-body"><a href="#">Edit</a></span> -->
      </h3>

    
    </div>
  </div>
</div>

{% endblock %}
