{% extends "../layouts/aspel-layout.html" %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="establishment-overview">University of Croydon</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="courses-overview">Create a course</a>
    </li> 
  </ol>
</div>
{% endblock %}



{% block content %}



<!-- Add your page content here -->

<span class="govuk-caption-l">Dragon flight school</span> 
  <h1 class="govuk-heading-l" >Add participants</h1>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Course details
      </span>
    </summary>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
   
      <div class="govuk-summary-list__row"> 
        <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Course name</dt>
        <dd class="govuk-summary-list__value">Dragon flight school</dd>
      </div>
      <div class="govuk-summary-list__row"> 
        <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Course start date</dt>
        <dd class="govuk-summary-list__value">14 Aug 2023</dd>
        </div>
        <div class="govuk-summary-list__row"> 
          <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Course end date</dt>
          <dd class="govuk-summary-list__value">28 Sep 2023</dd>
          </div>
        <div class="govuk-summary-list__row"> 
          <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Animals used</dt>
          <dd class="govuk-summary-list__value">Mice (Rodentia) <br> Rat (Rattus rattus)</dd>
        </div>
        <a class="govuk-link" href="add-course-details.html">Change course details</a>
        <hr style="margin-bottom:12px;border:none">
        <div class="govuk-summary-list__row"> 
          <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Project licence title</dt>
          <dd class="govuk-summary-list__value">University of Croydon training courses</dd>
        </div>
          <div class="govuk-summary-list__row"> 
            <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Project licence number</dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">PP12345678</a></dd>
          </div>
       
        <a class="govuk-link" href="choose-project-licence.html">Change project licence</a>
        <hr style="margin-bottom:12px;border:none">
    </dl>
    
  <!-- <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Course name
      </dt>
      <dd class="govuk-summary-list__value">
        Dragon flight school
      </dd>
      
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Course start date
      </dt>
      <dd class="govuk-summary-list__value">
        14 August 2023
      </dd>
      
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Course end date
      </dt>
      <dd class="govuk-summary-list__value">
        28 September 2023
      </dd>
      
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Animals used
      </dt>
      <dd class="govuk-summary-list__value">
        &#8226; Rats (Rattus rattus)
        <br>
        &#8226; Mice (Rodentia)
      </dd>
    </div>
    <hr style="margin-top:8px;border:none">
    <a class="govuk-link" href="">Change course details</a>
    <hr style="margin-top:20px;border:none">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Project title
      </dt>
      <dd class="govuk-summary-list__value">
        Croydon University training courses
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Project licence number
      </dt>
      <dd class="govuk-summary-list__value">
        PP12345678
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Project licence expiry date
      </dt>
      <dd class="govuk-summary-list__value">
        26 April 2026
      </dd>
    </div>
    <hr style="margin-top:8px;border:none">
    <a class="govuk-link" href="">Change project licence</a>
   
  <hr style="margin-top:8px;border:none">
  
</dl> -->
  </details>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-m" style="margin-top: 40px;margin-bottom: 0px;">Course participants</h2>
 
  <br>
  
  <form action="enter-participant-details" method="post" novalidate>
    <button class="govuk-button" data-module="govuk-button">
    Invite a participant
    </button>
  </form>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <a href="courses-overview-course-added.html" class="govuk-link govuk-link--no-visited-state">Save course and add participants later</a>
{% endblock %}
