{% extends "../layouts/aspel-layout.html" %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="establishment-overview">University of Croydon</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="courses-overview">Courses overview</a>
    </li> 
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-course-changed-dates.html">Owl habitat protection</a>
    </li> 
  </ol>
</div>
{% endblock %}



{% block content %}



<!-- Add your page content here -->


<h1 class="govuk-heading-l" >Change course dates</h1>

<dl class="govuk-summary-list govuk-summary-list--no-border">
   
  <div class="govuk-summary-list__row"> 
    <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Course name</dt>
    <dd class="govuk-summary-list__value">Owl habitat protection</dd>
  </div>
  <div class="govuk-summary-list__row"> 
    <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Start date 
    <dd class="govuk-summary-list__value">15 Apr 2023 <strong class="govuk-tag " >
      Active
    </strong></dt></dd>
    <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row"> 
      <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >End date</dt>
      <dd class="govuk-summary-list__value">	02 Jun 2023</dd>
      <dd class="govuk-summary-list__value"></dd>
      </div>
</dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<p class="govuk-body"><strong>Start date</strong>  You cannot change the start date because the course has already started. </p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <p class="govuk-fieldset__heading"><strong>New end date</strong></p>
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 14 8 2022
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    All participant's Category E training licences will be revoked on the course end date.
  </strong>
</div>


<div class="govuk-form-group">
  <label class="govuk-label" for="more-detail">
    <strong>Explain why you are making this change </strong>
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
</div>
</div>
</div>

<form action="check-end-date-change" method="post" novalidate>
    <button class="govuk-button" data-module="govuk-button">
    Save and continue
    </button>
  </form>

{% endblock %}
