{% extends "../layouts/aspel-layout.html" %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="establishment-overview">University of Croydon</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="courses-overview">Courses overview</a>
    </li> 
  </ol>
</div>
{% endblock %}



{% block content %}



<!-- Add your page content here -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Success",
        html: "You have applied for 1 Category-E training licence for the course 'Dragon flight school'. "
      }) }}


      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>The Category-E training licence applications will be sent to your establishment's NTCO (Named training and competency officer) for review.</li>
        <li>Participants will receive an email confirming that their licences have been applied for.</li>
      </ul>
      <p>
        <a href="courses-overview-course-added.html" style="color: #1d70b8;">Return to training courses</a>
      </p>
    </div>
  </div>
  
  

{% endblock %}
