{% extends "../layouts/aspel-layout.html" %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="establishment-overview">University of Croydon</a>
    </li>
    <!-- <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Create a course</a>
    </li> -->
  </ol>
</div>
{% endblock %}



{% block content %}



<!-- Add your page content here -->



  <span class="govuk-caption-xl" style="color: #000">University of Croydon &nbsp; </span> 

  <h1 class="govuk-heading-l" style="margin-bottom:30px;">Training courses</h1>

  <a href="choose-project-licence.html"><button class="govuk-button" data-module="govuk-button">
    Create a new course 
  </button></a>

  <table class="govuk-table" >
    <caption class="govuk-table__caption govuk-table__caption--m"></caption>
  
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
    
          <th scope="col" class="govuk-table__header" aria-sort="none">Course name</th>
    
          <th scope="col" class="govuk-table__header" aria-sort="none">Start date</th>

          <th scope="col" class="govuk-table__header" aria-sort="none" >End date</th>
    
          <!-- <th scope="col" class="govuk-table__header " aria-sort="none" >Project licence</th> -->
    
          <th scope="col" class="govuk-table__header " aria-sort="none" >Participants <br> invited</th>

          <th scope="col" class="govuk-table__header " aria-sort="none" >Licences <br> granted</th>

          <!-- <th scope="col" class="govuk-table__header " aria-sort="ascending" >Status</th> -->

    
        </tr>
      </thead>
    
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
    
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Collabora tauras sentra</a></td>
    
          <td class="govuk-table__cell" data-sort-value="25 Jun 2023 - 29 Jul 2023">25 Jun 2023</td>

          <td class="govuk-table__cell" data-sort-value="25 Jun 2023 - 29 Jul 2023">29 Jul 2023</td>

          <!-- <td class="govuk-table__cell " data-sort-value="Caoo-1234">Caoo-1234</td> -->
    
          <td class="govuk-table__cell " data-sort-value="12">11</td>

          <td class="govuk-table__cell " data-sort-value="4">8</td>
<!-- 
          <td class="govuk-table__cell " data-sort-value="pending">
            <strong class="govuk-tag govuk-tag--grey" style="background-color: #cbcbcb;">
            Licences <br> pending
          </strong></td> -->
    
        </tr>

        <tr class="govuk-table__row">
    
          <td class="govuk-table__cell"><a href="manage-course-started.html" class="govuk-link">Owl habitat protection</a></td>
    
          <td class="govuk-table__cell" data-sort-value="15 Apr 2023 - 02 Jun 2023">15 Apr 2023</td>

          <td class="govuk-table__cell" data-sort-value="15 Apr 2023 - 02 Jun 2023">02 Jun 2023</td>

          <!-- <td class="govuk-table__cell " data-sort-value="VinTen-1234">VinTen-1234</td> -->
    
          <td class="govuk-table__cell" data-sort-value="12">15</td>

          <td class="govuk-table__cell " data-sort-value="4">15</td>

          <!-- <td class="govuk-table__cell " data-sort-value="active">
            <strong class="govuk-tag">
            Active
          </strong></td> -->
          
    
        </tr>

        <tr class="govuk-table__row">
    
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Aliquan doloris empre</a></td>
    
          <td class="govuk-table__cell" data-sort-value="15 Apr 2023 - 02 Jun 2023">25 Apr 2023</td>

          <td class="govuk-table__cell" data-sort-value="15 Apr 2023 - 02 Jun 2023">25 May 2023</td>

          <!-- <td class="govuk-table__cell " data-sort-value="AqdSm-1234">AqdSm-1234</td> -->
    
          <td class="govuk-table__cell " data-sort-value="12">8</td>

          <td class="govuk-table__cell " data-sort-value="4">8</td>

          <!-- <td class="govuk-table__cell " data-sort-value="active">
            <strong class="govuk-tag">
            Active
          </strong></td> -->
    
        </tr>
    
      </tbody>
    </table>
    
  <!-- <table class="govuk-table" data-module="moj-sortable-table">
    <caption class="govuk-table__caption govuk-table__caption--m"></caption>
  
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
    
          <th scope="col" class="govuk-table__header" aria-sort="none" style="width:35%">Course name</th>
    
          <th scope="col" class="govuk-table__header" aria-sort="ascending" style="width:30%">Course dates</th>
    
          <th scope="col" class="govuk-table__header " aria-sort="none" style="width:15%">Project licence</th>
    
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" style="width:10%">Participants</th>

          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" style="width:10%">Licences granted</th>

    
        </tr>
      </thead>
    
      <tbody class="govuk-table__body">
    
        <tr class="govuk-table__row">
    
          <td class="govuk-table__cell">Dragon flight school</td>
    
          <td class="govuk-table__cell" data-sort-value="14 Aug 2023 - 28 Sep 2023">14 Aug 2023 - 28 Sep 2023</td>

          <td class="govuk-table__cell " data-sort-value="HTD-1234">HTD-1234</td>
    
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12">12</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
    
        </tr>

        <tr class="govuk-table__row">
    
          <td class="govuk-table__cell">Collabora tauras sentra</td>
    
          <td class="govuk-table__cell" data-sort-value="25 Jun 2023 - 29 Jul 2023">25 Jun 2023 - 29 Jul 2023</td>

          <td class="govuk-table__cell " data-sort-value="Caoo-1234">Caoo-1234</td>
    
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12">11</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">8</td>
    
        </tr>

        <tr class="govuk-table__row">
    
          <td class="govuk-table__cell">Vinculas tentare</td>
    
          <td class="govuk-table__cell" data-sort-value="15 Apr 2023 - 02 Jun 2023">15 Apr 2023 - 02 Jun 2023</td>

          <td class="govuk-table__cell " data-sort-value="VinTen-1234">VinTen-1234</td>
    
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12">15</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">15</td>
    
        </tr>

        <tr class="govuk-table__row">
    
          <td class="govuk-table__cell">Aliquan doloris empre</td>
    
          <td class="govuk-table__cell" data-sort-value="15 Apr 2023 - 02 Jun 2023">15 Apr 2023 - 02 Jun 2023</td>

          <td class="govuk-table__cell " data-sort-value="AqdSm-1234">AqdSm-1234</td>
    
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12">8</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">8</td>
    
        </tr>
    
      </tbody>
    </table> -->


{% endblock %}
