{% extends "../layouts/aspel-layout.html" %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="establishment-overview">University of Croydon</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="courses-overview">Courses overview</a>
    </li> 
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-course-started.html">Owl habitat protection</a>
    </li> 
  </ol>
</div>
{% endblock %}



{% block content %}



<!-- Add your page content here -->


<span class="govuk-caption-l">Manage course</span>
<h1 class="govuk-heading-l" >Owl habitat protection</h1>

    
 
  
<dl class="govuk-summary-list govuk-summary-list--no-border">
   
  <div class="govuk-summary-list__row"> 
    <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Course name</dt>
    <dd class="govuk-summary-list__value">Owl habitat protection</dd>
  </div>
  <div class="govuk-summary-list__row"> 
    <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Start date</dt>
    <dd class="govuk-summary-list__value">15 Apr 2023</dd>
    <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row"> 
      <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >End date</dt>
      <dd class="govuk-summary-list__value">02 Jun 2023</dd>
      <dd class="govuk-summary-list__value"></dd>
      </div>
    <div class="govuk-summary-list__row"> 
      <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Animals to be used</dt>
      <dd class="govuk-summary-list__value">Mice (Rodentia), Rat (Rattus rattus)</dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row"> 
      <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Project licence title</dt>
      <dd class="govuk-summary-list__value">Croydon University training courses</dd>
    </div>
      <div class="govuk-summary-list__row"> 
        <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Project licence number</dt>
        <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">PP666888</a></dd>
      </div>
</dl>

<div class="govuk-button-group">
  <!-- <form action="change-course-end-date" method="post" novalidate>
  <button class="govuk-button govuk-button--secondary" style=" background-color: #cbcbcb;" data-module="govuk-button">
    Edit course details
  </button></form> -->
  <form action="cancel-course" method="post" novalidate>
  <button class="govuk-button govuk-button--secondary" style=" background-color: #ffff;" data-module="govuk-button">
    Cancel course
  </button></form>
</div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-m" style="margin-top: 40px;margin-bottom: 20px;">Course participants</h2>

  <form action="enter-participant-details" method="post" novalidate>
    <button class="govuk-button " data-module="govuk-button">
      Invite another participant
    </button></form>

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" aria-sort="descending" >Name</th>
          <!-- <th class="govuk-table__header"  >Email</th> -->
          <th class="govuk-table__header" aria-sort="none" >Organisation</th>
          <th class="govuk-table__header" aria-sort="none" >Details</th>
          <th class="govuk-table__header" aria-sort="none" >Status</th>
          <th class="govuk-table__header "> Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" id="mydiv2">
          <td class="govuk-table__cell" data-sort-value="smith-johnson">Peter Smith-Johnson</td>
          <!-- <td class="govuk-table__cell" >peter.smith@acme.com</td> -->
          <td class="govuk-table__cell" data-sort-value="acme">ACME Limited</td>
          <td class="govuk-table__cell" data-sort-value="AB1234567"><a href="#" class="govuk-link govuk-link--no-visited-state">AB1234567</a></td>
          <td class="govuk-table__cell " data-sort-value="g"><strong class="govuk-tag">Granted</strong></td>
          <td class="govuk-table__cell"  ><a href="revoke.html" style="color: #1d70b8;">Revoke licence</a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv" >
          <td class="govuk-table__cell" data-sort-value="nickols">Maria Nickols</td>
          <!-- <td class="govuk-table__cell" >maria.nickols@colabra.co.uk</td> -->
          <td class="govuk-table__cell" data-sort-value="colabra">Colabra Associated</td>
          <td class="govuk-table__cell" data-sort-value="LL8856779"><a href="#" class="govuk-link govuk-link--no-visited-state">LL8856779</a></td>
          <td class="govuk-table__cell " data-sort-value="g"><strong class="govuk-tag">Granted</strong></td>
          <td class="govuk-table__cell"  ><a href="#" style="color: #1d70b8;">Revoke licence</a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv2">
          <td class="govuk-table__cell" data-sort-value="lawrenson" >Soren Lawrenson</td>
          <!-- <td class="govuk-table__cell" >soren.lawrenson@ucl.edu.uk</td> -->
          <td class="govuk-table__cell" data-sort-value="ucl">UCL</td>
         <td class="govuk-table__cell" data-sort-value="JD5388879"><a href="#" class="govuk-link govuk-link--no-visited-state">JD5388879</a></td>
         <td class="govuk-table__cell " data-sort-value="g"><strong class="govuk-tag">Granted</strong></td>
          <td class="govuk-table__cell"  ><a href="#" style="color: #1d70b8;">Revoke licence</a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv" >
          <td class="govuk-table__cell" data-sort-value="bovier">Arrow Bovier</td>
          <!-- <td class="govuk-table__cell" >a.bovier@nickelassociates.co.uk</td> -->
          <td class="govuk-table__cell" data-sort-value="nickel">Nickel Associates</td>
           <td class="govuk-table__cell" ><a href="#" class="govuk-link govuk-link--no-visited-state">View task</a></td>
           <td class="govuk-table__cell " data-sort-value="a"><strong class="govuk-tag govuk-tag--grey" style="background-color: #cbcbcb;">Awaiting decision</strong></td>
           <td class="govuk-table__cell"  ><a href="#" style="color: #1d70b8;"></a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv2">
          <td class="govuk-table__cell" data-sort-value="mandalorian"><a href="#" style="color: #1d70b8;">Jodge Mandalorian</a></td>
          <!-- <td class="govuk-table__cell" >jodgemh@nots.edu.co.uk</td> -->
          <td class="govuk-table__cell" data-sort-value="nottingham">Nottingham University</td>
                    <td class="govuk-table__cell" data-sort-value="IC9655578"><a href="#" class="govuk-link govuk-link--no-visited-state">IC9655578</a></td>
                    <td class="govuk-table__cell " data-sort-value="g"><strong class="govuk-tag">Granted</strong></td>
          <td class="govuk-table__cell"  ><a href="#" style="color: #1d70b8;">Revoke licence</a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv" >
          <td class="govuk-table__cell" data-sort-value="enjolras">Hawkeye Enjolras</td>
          <!-- <td class="govuk-table__cell" >h.enjolrasd@defra.gov.uk</td> -->
          <td class="govuk-table__cell" data-sort-value="defra">DEFRA</td>
                    <td class="govuk-table__cell" data-sort-value="I64455468"><a href="#" class="govuk-link govuk-link--no-visited-state">I64455468</a></td>
                    <td class="govuk-table__cell " data-sort-value="g"><strong class="govuk-tag">Granted</strong></td>
          <td class="govuk-table__cell"  ><a href="#" style="color: #1d70b8;">Revoke licence</a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv2">
          <td class="govuk-table__cell" data-sort-value="celdon">Dori Celdon</td>
          <!-- <td class="govuk-table__cell" >dori-celdon@acme.com</td> -->
          <td class="govuk-table__cell" data-sort-value="acme limited">ACME Limited</td>
           <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View task</a></td>
           <td class="govuk-table__cell " data-sort-value="a"><strong class="govuk-tag govuk-tag--grey" style="background-color: #cbcbcb;">Awaiting decision</strong></td>
          <td class="govuk-table__cell"  ><a href="#" style="color: #1d70b8;"></a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv" >
          <td class="govuk-table__cell" data-sort-value="sefton">Paddington Sefton</td>
          <!-- <td class="govuk-table__cell" >padd.sefton@bristol.edu.uk</td> -->
          <td class="govuk-table__cell" data-sort-value="bristol">Bristol University</td>
           <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View task</a></td>
          <td class="govuk-table__cell " data-sort-value="a"><strong class="govuk-tag govuk-tag--grey" style="background-color: #cbcbcb;">Awaiting decision</strong></td>
          <td class="govuk-table__cell"  ><a href="#" class="govuk-link govuk-link--no-visited-state"></a></td>
        </tr>
      </tbody>
    </table>
  <div>
  
  </div>


  <br>
  <!-- <form action="confirmation-new-participant-added" method="post" novalidate>
    <button class="govuk-button" data-module="govuk-button">
    Save and continue
    </button>
  </form> -->

{% endblock %}
