{% extends "../layouts/aspel-layout.html" %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="establishment-overview">University of Croydon</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="courses-overview">Courses overview</a>
    </li> 
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-course">Dragon flight school</a>
    </li> 
  </ol>
</div>
{% endblock %}



{% block content %}



<!-- Add your page content here -->


 <span class="govuk-caption-l">Manage course</span> 
<h1 class="govuk-heading-l" >Dragon flight school</h1>

    
  
  
<dl class="govuk-summary-list govuk-summary-list--no-border">
   
  <!-- <div class="govuk-summary-list__row"> 
    <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Course name</dt>
    <dd class="govuk-summary-list__value">Dragon flight school</dd>
  </div> -->
  <div class="govuk-summary-list__row"> 
    <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Start date</dt>
    <dd class="govuk-summary-list__value">14 Aug 2023</dd>
    <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row"> 
      <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >End date</dt>
      <dd class="govuk-summary-list__value">28 Sep 2023</dd>
      <dd class="govuk-summary-list__value"></dd>
      </div>
    <div class="govuk-summary-list__row"> 
      <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Animals to be used</dt>
      <dd class="govuk-summary-list__value">Mice (Rodentia), Rat (Rattus rattus)</dd>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row"> 
      <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Project licence title</dt>
      <dd class="govuk-summary-list__value">Croydon University training courses</dd>
    </div>
      <div class="govuk-summary-list__row"> 
        <dt class="govuk-summary-list__key"style="padding-bottom: 0px;" >Project licence number</dt>
        <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">PP12345678</a></dd>
      </div>
</dl>

<div class="govuk-button-group">
  <form action="change-course-dates" method="post" novalidate>
  <button class="govuk-button govuk-button--secondary" style=" background-color: #ffff;" data-module="govuk-button">
    Change course dates
  </button></form>
  <!-- <form action="edit-animals-used" method="post" novalidate>
    <button class="govuk-button govuk-button--secondary" style=" background-color: #ffff;" data-module="govuk-button">
      Edit animals used
    </button></form> -->
  <form action="cancel-course" method="post" novalidate>
  <button class="govuk-button govuk-button--secondary" style=" background-color: #ffff;" data-module="govuk-button">
    Cancel course
  </button></form>
</div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-m" style="margin-top: 40px;margin-bottom: 20px;">Course participants</h2>

  <form action="enter-participant-details" method="post" novalidate>
    <button class="govuk-button"  data-module="govuk-button">
      Invite another participant
    </button></form>


    <table class="govuk-table" style="margin-bottom: 20px;">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header"  >Name</th>
          <!-- <th class="govuk-table__header"  >Email</th> -->
          <th class="govuk-table__header"  >Organisation</th>
          <th class="govuk-table__header"  >Details</th>
          <th class="govuk-table__header"  >Status</th>
          <th class="govuk-table__header "> Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" id="mydiv2">
          <td class="govuk-table__cell" >Peter Smith-Johnson</td>
          <!-- <td class="govuk-table__cell" >peter.smith@acme.com</td> -->
          <td class="govuk-table__cell" >ACME Limited</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Licence AB1234567</a></td>
          <td class="govuk-table__cell "><strong class="govuk-tag">Granted</strong></td>
          <td class="govuk-table__cell"  ><a href="revoke.html" style="color: #1d70b8;">Revoke licence</a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv" >
          <td class="govuk-table__cell" >Maria Summerland</td>
          <!-- <td class="govuk-table__cell" >maria.summerland@colabra.co.uk</td> -->
          <td class="govuk-table__cell" >Colabra Associated</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Licence LL8856779</a></td>
          <td class="govuk-table__cell "><strong class="govuk-tag">Granted</strong></td>
          <td class="govuk-table__cell"  ><a href="#" style="color: #1d70b8;">Revoke licence</a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv2">
          <td class="govuk-table__cell" >Soren Lawrenson</td>
          <!-- <td class="govuk-table__cell" >soren.lawrenson@ucl.edu.uk</td> -->
          <td class="govuk-table__cell" >UCL</td>
         <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Licence JD5388879</a></td>
         <td class="govuk-table__cell "><strong class="govuk-tag">Granted</strong></td>
          <td class="govuk-table__cell"  ><a href="#" style="color: #1d70b8;">Revoke licence</a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv" >
          <td class="govuk-table__cell" >Arrow Bovier</td>
          <!-- <td class="govuk-table__cell" >a.bovier@nickelassociates.co.uk</td> -->
          <td class="govuk-table__cell" >Nickel Associates</td>
           <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View task</a></td>
           <td class="govuk-table__cell "><strong class="govuk-tag govuk-tag--grey" style="background-color: #cbcbcb;">Awaiting decision</strong></td>
           <td class="govuk-table__cell"  ><a href="#" style="color: #1d70b8;">Recall application</a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv2">
          <td class="govuk-table__cell" ><a href="#" style="color: #1d70b8;">Jodge Mandalorian</a></td>
          <!-- <td class="govuk-table__cell" >jodgemh@nots.edu.co.uk</td> -->
          <td class="govuk-table__cell" >Nottingham University</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Licence IC9655578</a></td>
                    <td class="govuk-table__cell "><strong class="govuk-tag">Granted</strong></td>
          <td class="govuk-table__cell"  ><a href="#" style="color: #1d70b8;">Revoke licence</a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv" >
          <td class="govuk-table__cell" >Hawkeye Enjolras</td>
          <!-- <td class="govuk-table__cell" >h.enjolrasd@defra.gov.uk</td> -->
          <td class="govuk-table__cell" >DEFRA</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Licence I64455468</a></td>
                    <td class="govuk-table__cell "><strong class="govuk-tag">Granted</strong></td>
          <td class="govuk-table__cell"  ><a href="#" style="color: #1d70b8;">Revoke licence</a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv2">
          <td class="govuk-table__cell" >Dori Celdon</td>
          <!-- <td class="govuk-table__cell" >dori-celdon@acme.com</td> -->
          <td class="govuk-table__cell" >ACME Limited</td>
           <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View task</a></td>
           <td class="govuk-table__cell "><strong class="govuk-tag govuk-tag--grey" style="background-color: #cbcbcb;">Awaiting decision</strong></td>
          <td class="govuk-table__cell"  ><a href="#" style="color: #1d70b8;">Recall application</a></td>
        </tr>
        <tr class="govuk-table__row" id="mydiv" >
          <td class="govuk-table__cell" >Paddington Sefton</td>
          <!-- <td class="govuk-table__cell" >padd.sefton@bristol.edu.uk</td> -->
          <td class="govuk-table__cell" >Bristol University</td>
           <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View task</a></td>
          <td class="govuk-table__cell "><strong class="govuk-tag govuk-tag--grey" style="background-color: #cbcbcb;">Awaiting decision</strong></td>
          <td class="govuk-table__cell"  ><a href="#" class="govuk-link govuk-link--no-visited-state">Recall application</a></td>
        </tr>
      </tbody>
    </table>
 
  <div>
  </div>


  <br>
  <!-- <form action="confirmation-new-participant-added" method="post" novalidate>
    <button class="govuk-button" data-module="govuk-button">
    Save and continue
    </button>
  </form> -->

{% endblock %}
