{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  ASPeL prototype  
  <span class="govuk-caption-l">Using prototype kit version 13 and above</span>
</h1>
<p class="govuk-body"><a href="https://asl-prototypes.herokuapp.com/" class="govuk-link">Prototypes built with older versions of the kit</a></p>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h2 class="govuk-heading-m">Uploading project licence assessments</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-s">Research objectives </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Can inspectors upload their project licence assessment at the point of granting a licence?</li>
      <li>Can inspectors find a previously uploaded project licence assessment?</li>
      <li>Can inspectors upload a corrected version of a project licence assessment?</li>
    </ul>

    <h3 class="govuk-heading-s" style="margin-bottom:10px">Supporting links</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="">Jira epic</a></li>
      <li><a href="">Journey map</a></li>
      <li><a href="">Research mural</a></li>
    </ul>
    <h3 class="govuk-heading-s" style="margin-bottom:10px">Prototype links</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="doc-upload/home.html" class="govuk-link">Begin upload journey</a></li>
      <li><a href="doc-upload/ppl-overview.html" class="govuk-link">Viewing a project overview with an uploaded assessment</a></li>
      <li><a href="doc-upload/task-complete.html" class="govuk-link">Updating a project licence assessment</a></li>
      <li><a href="doc-upload/task-complete-no-hba.html" class="govuk-link">Viewing a historic task with no assessment uploaded</a></li>
    </ul>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">Category E training licences</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-s">Research objectives </h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Can users set up a course and apply for participant's category E training licences?</li>
    <li>Can users manage courses, change dates, cancel a course and revoke a licence? </li>
    <li>What, if any, are the blockers in the proposed design? Is anything missing?</li>
    <li>If time allows, establish the needs for longer higher education courses at universities. </li>
</ul>
  </div>
</div>



<h3 class="govuk-heading-s" style="margin-bottom:10px">Links</h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://collaboration.homeoffice.gov.uk/jira/browse/ASL-4189" class="govuk-link">Jira epic</a></li>
  <li><a href="https://app.mural.co/t/enablers3351/m/mbtbf6246/1680784480758/c0e3157c27e39e134030f239b54864b48574a2d4?wid=0-1681126920662" class="govuk-link">Journey map</a></li>
  <li><a href="https://app.mural.co/t/enablers3351/m/enablers3351/1682328112544/725be6deaf150d029c56560c22dd27f5b54b616a?sender=udf392ec435dfb8adf30d1228" class="govuk-link">Research mural</a></li>
  <li><a href="cat-e-pils/research-index.html" class="govuk-link">Launch screen for usability testing</a></li>
  <!-- <li><a href="" class="govuk-link">Research playback</a></li> -->
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% endblock %}
