

<div class="govuk-grid-row" id="pageHeader">
	<div class="govuk-grid-column-full">
	  <div class="download-header">
	    <span class="govuk-body licence-identifier" class="">Establishment overview</span>
	    <span class="float-right">
        <!-- <span class="hod-download-button side-space icon-small"></span> -->
        
        <!-- <p class="govuk-body save-indicator">
        <span id="downloads-label" style="position: absolute; top: 50%; right: -5%; transform: translate(-50%,-50%);">
          <span class="header-download-link">
            <span class="hod-download-button side-space icon-small"></span>&ensp;<a href="#">Download as a .pdf</a><br>
          </span>
          
          <a onclick="toggleDetails()" href="ppl-overview">View project</a>
        </span> 
      </p> -->
	    </span>
      <span class="govuk-body licence-type" class="">University of Croydon</span>
      <div id="details-panel" class="details-panel">
        <span class="float-right download-options">
          <ul class="govuk-list">
            <li><a href="#">Non-technical summary (.pdf)</a></li>
            <li><a href="/ra-submission/downloads">All downloads</a></li>
          </ul>
        </span>
        <dl class="govuk-body" style="width: 75%;">
          <dt>PPL title</dt>
          <dd>Development of new biological anticancer agents</dd>
          <dt>PPL number</dt>
          <dd>78847475</dd>
          <dt>Expiry date</dt>
          <dd>01 July 2020</dd>
          <dt>Retrospective assessment due</dt>
          <dd>02 January 2021</dd>
          <dt>Reason for retrospective assessment</dt>
          <dd>
            <ul class="govuk-list govuk-list--bullet">
              <li>Contains severe procedures</li>
              <li>Uses cats, dogs or equidae</li>
            </ul>
          </dd>
        </dl> 
      </div>
	  </div>
	</div>
</div> 
<style>
  .sticky {
    position: fixed;
    top: 0;
    width: 1200px;
    display: inline-block;
  }
  .save-indicator {
    color: #505a5f;
  }
  
  </style>
<div class="header hide" id="myHeader" >
        
  <div class="download-header" style="padding: 7px;">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body licence-type">Project: Development of new biological anticancer agents 
          <!-- <span class="govuk-!-font-size-14">
            <a href="#">View details</a>
          </span> -->
          &ensp;<span class="save-indicator govuk-!-font-size-14">Last saved seconds ago</span>
        </span>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-!-font-size-14">
          <span class="float-right">  
          <a href="#" style="padding: 0 1em;">Back to top</a>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
<script>
  window.onscroll = function() {myFunction()};
  
  var pageHeader = document.getElementById("pageHeader");
  var header = document.getElementById("myHeader");
  var sticky = header.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
  </script>
<Script>
  function toggleDetails() {
  var x = document.getElementById("details-panel");
  var detailsLabel = document.getElementById("details-label");
  var downloadsLabel = document.getElementById("downloads-label");
  console.log(x.style.display)
  if (x.style.display === "none") {
    console.log("click")
    x.style.display = "block";
    detailsLabel.innerHTML = "Hide details";
    downloadsLabel.innerHTML = "Hide download options";
  } else if (x.style.display === "block") {
    x.style.display = "none";
    detailsLabel.innerHTML = "View details";
    downloadsLabel.innerHTML = "View download options";
  } else {
    x.style.display = "block";
    detailsLabel.innerHTML = "Hide details";
    downloadsLabel.innerHTML = "Hide download options";
  }
}
</Script>
  
  <style>
    .download-options {
      width: 20%;
    }
    #details-panel{
      display: none;
      padding-top: 1rem;
    }
  </style>

